<app-loading-spinner *ngIf="loading" />
<div class="author-list-wrapper" *ngIf="!loading">
  <h2>All Authors</h2>

  <div class="author-list-card">

    <div class="filter-bar-card">
      <div class="filter-bar">
        <input [(ngModel)]="filterTerm" (input)="applyFilters()" placeholder="Search by name..." />
        <select [(ngModel)]="sortOption" (change)="applyFilters()">
          <option value="name-asc">Sort by Name (A-Z)</option>
          <option value="name-desc">Sort by Name (Z-A)</option>
          <option value="date-newest">Newest</option>
          <option value="date-oldest">Oldest</option>
        </select>
      </div>
    </div>

    <div class="author-cards-container">
      <div class="author-card" *ngFor="let author of filteredAuthors">
        <div class="author-card-content"> <img *ngIf="author.avatarUrl" [src]="author.avatarUrl" alt="{{ author.name }}" />
            <div class="author-info">
              <a [routerLink]="['/authors', author.id]" class="author-name">{{ author.name }}</a>
              <div *ngIf="author.bio" class="author-bio-display" [innerHTML]="author.bio"></div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
