<article class="card">
    <img *ngIf="article.thumbnailUrl" [src]="article.thumbnailUrl" [alt]="article.title" class="thumbnail" />
    <div class="content">
        <h2><a [routerLink]="['/articles', article.id]">{{ article.title }}</a></h2>
        <p class="brief">{{ article.briefDescription }}</p>
        <p class="meta">
            By {{ article.authorName }} | {{ article.publishDate | date: 'mediumDate' }}
            <span *ngIf="article.isFeatured" class="featured">★ Featured</span>
        </p>
    </div>
</article>