<nav class="nav-bar">
  <div class="container">
    <a routerLink="/dashboard" class="logo">Dashboard</a>
    <div class="nav-links">
      <a routerLink="/authors" class="nav-link">Authors</a>
      <a routerLink="/create-article" class="nav-link" *ngIf="canCreateOrEdit$ | async">Create Post</a>

      <ng-container *ngIf="(authService.user$ | async) as user; else loginButton">
        <span class="welcome-text">Welcome, {{ user.displayName || user.email }}</span>
        <button (click)="authService.signOut()" class="btn btn-logout">Logout</button>
      </ng-container>

      <ng-template #loginButton>
        <a routerLink="/login" class="btn btn-login">Login</a>
      </ng-template>
    </div>
  </div>
</nav>