<div class="article-carousel-container">
  <div class="carousel-header">
    <h2>{{ headerText }}</h2>
  </div>

  <ng-container *ngIf="loading">
    <p>Loading articles...</p>
  </ng-container>

  <ng-container *ngIf="error">
    <p class="error-message">{{ error }}</p>
  </ng-container>

  <ng-container *ngIf="!loading && !error">
    <p-carousel
      *ngIf="articles.length > 0"
      [value]="articles"
      [numVisible]="cardsToShow"
      [numScroll]="cardsToShow === 1 ? 1 : 1"
      [responsiveOptions]="currentResponsiveOptions"
      [circular]="true"
      [autoplayInterval]="isFeaturedCarousel ? 7000 : 5000"
    >
      <ng-template let-article pTemplate="item">
        <div class="carousel-item-wrapper">
          <app-article-card [article]="article" [isFeatured]="isFeaturedCarousel" [showTags]="showCardTags"></app-article-card>
        </div>
      </ng-template>
    </p-carousel>
    <div *ngIf="articles.length === 0 && !noArticle" class="no-articles-message">
      <p>No articles found for the given criteria.</p>
    </div>
    <div *ngIf="articles.length === 0 && noArticle" class="no-articles-message">
      <p>No articles (published or unpublished) found.</p>
    </div>
  </ng-container>
</div>
